.page_outer {
    padding: 2rem !important;
    max-width: unset !important;
    width: 100%;
    margin-left: unset !important;
    margin-right: unset !important;
    height: calc(100vh - 56px);
    overflow: auto;
}

@media (max-width:991px) {
    .page_outer{
        height: calc(100vh - 110px);
    }
}

.container_details {
    padding-bottom: 2rem !important;
    margin: unset !important;
}

.container_image {
    max-height: 200px; 
    max-width: 100%;
}

.container_attributes {
    text-align: left;
}

.container_controls {
    width: 100%;
    text-align: right;
}

/*form classes*/

.form_outer {
    text-align: right;
}

.form_outer > div {
    text-align: left;
}

.submit_button {
    margin-top: 1.5rem;
}