.dashboard_outer {
    padding-top: 2rem;
    max-width: unset !important;
    width: 100%;
    margin-left: unset !important;
    margin-right: unset !important;
    padding-bottom: 2rem;
    height: calc(100vh - (56px));
    overflow: auto;
}

@media (max-width:991px) {
    .dashboard_outer{
        height: calc(100vh - (110px));
    }
}

.dashboard_controls {
    padding-right: 1rem !important;
    text-align: right;
}

.dashboard_pagination {
    padding-right: 2rem !important;
    margin-top: 1rem !important;
}

.item_card {
    margin-top: 2rem !important;
}

.item_card > .item_card_inner {
    border: solid 1px;
    border-radius: 8px;
    padding: 1rem !important;
}

.item_card > .item_card_inner > a {
    color: black;
    text-decoration: unset;
}

.item_image {
    height: 200px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}