.dashboard_outer {
    margin-top: 2rem;
    max-width: unset !important;
    width: 100%;
    margin-left: unset !important;
    margin-right: unset !important;
    padding-bottom: 2rem;
    height: calc(100vh - (2rem + 56px));
    overflow: auto;
}

@media (max-width:991px) {
    .dashboard_outer{
        height: calc(100vh - (2rem + 110px));
    }
}

.dashboard_display_toggle {
    padding-right: 2rem !important;
    text-align: right;
}

.item_card {
    margin-top: 2rem !important;
}

.item_card > .item_card_inner {
    border: solid 1px;
    border-radius: 8px;
    padding: 1rem !important;
}
