@media(min-width: 992px) {
    .leftnav_top {
    }

    .leftnav_body {
        width: 350px;
    }

    .leftnav_body > div {
        height: calc(100vh - 56px);
        overflow: auto;
        scrollbar-width: none;
        text-align: left;
        width: 100%;
        background-color: #f8f9fa !important;
        padding: 1rem;
    }
}

.leftnav_navbar {
    flex: 0 0 100%;
}

.leftnav_body {
    overflow-y: scroll;
}

.leftnav_acc_item {
    padding-left: .75rem;
}

.leftnav_acc_header {
    display: flex;
    align-items: center;
    height: 2.9rem;
}

.leftnav_acc_header > a {
    text-decoration: none;
    color: black;
}