.form_outer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.form_box {
    padding: 2rem;
    text-align: right;
    max-width: 400px;
    margin-block: auto;
}

.form_box div {
    text-align: left;
}

.form_title {
    margin-bottom: 2.5rem;
    text-align: center;
}

.submit_button {
    margin-top: 1.5rem;
}