.middle_item > * {
    border-radius: unset !important;
}

.pagination_outer {
    float: right;
}

.pagination_segment {
    margin-top: 1rem !important;
    margin-bottom: unset !important;
    display: inline-flex !important;
}